global:
  scrape_interval: 5s
  evaluation_interval: 30s
  scrape_timeout: 3s

scrape_configs:
  - job_name: app
    metrics_path: /actuator/prometheus
    scheme: http
    static_configs:
      - targets:
          - {{ app_ip }}:1235
